<!DOCTYPE html>
<html>
<head>
  <title>TwiBubble</title>
  <%= include_gon %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <header class = "navbar navbar-fixed-top">
    <div class = "navbar-inner">
      <div class="container">
        <%= link_to "TwiBubble", root_path, id: 'logo' %>
        <nav>
          <ul class = "nav pull-right">
            <li><%= link_to "About", '#' %></li>
            <% unless home_page? %>
            <li><%= link_to "Try another", root_path %></li>
            <% end %>
          </ul>
        </nav>
      </div>
    </div>
  </header>
  <div class = "container">
    <%= yield %>
    <a href="https://twitter.com/share" class="twitter-share-button"
    data-dnt="true" data-count="none" 
    data-text="I just checked out TwiBubble by @AnkurGel for twitter visualized data!">Tweet</a>

    <script>!function(d,s,id){var
    js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    <div id="follow_me">
    <a href="https://twitter.com/AnkurGel" class="twitter-follow-button" data-show-count="true"
    data-lang="en">Follow @AnkurGel</a>
    </div>

    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    <footer class = "footer">
      Application by <a href="http://twitter.com/AnkurGel">Ankur
      Goel</a>
    </footer>

  </div>

</body>
</html>
